{% extends "layout.html" %}
{% block content %}
<div class="text-center">
    <div class="mainText">
    <br>
    <h1>Welcome to</h1>
    <h2> TeaWeb</h2>
    <br />
    <h3 class="mainSubTitle text-white">Instantly download your personalized bundle of apps!</h2>
    <br />
    <h3 class="mainSubTitle text-white">Just select the apps you want on your Desktop and the rest will be our job!</h2>
    <br />
    <p><h3 class="mainSubTitle text-white">Easy steps!</h2>
           <h4 class="mainSubTitle text-white">1.Pick the apps you want</h3>
           <h4 class="mainSubTitle text-white">2.Download and run your custom installer/updater</h3>
        <br>
    </p>
    </div>
</div>
{% endblock %}