{% extends "layout.html" %}
{% block content %}
<div class="text-center">
    <div class="mainText">
    <br>
    <h1>Rate our app</h1>
    <h2> TeaWeb</h2>
    <br />
    <h3>Give us some feedback if you liked the app!</h3>
    <br>
    <h4>Something isn't working right? Let us know.</h4>
    <h4>Fill in the form and submit.</h4>
    <br />
    <br />
        <br>
    </div>
    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSenB4W3TQuPl8GarWey6qiwioSxvrwAI8bf8iyVRM5lrtZAIg/viewform?embedded=true" width="700" height="2000" frameborder="0" marginheight="0" marginwidth="0">Se încarcă…</iframe>    </div>
        
    </div>  
{% endblock %}