{% extends "layout.html" %}
{% block content %}
<br>
{% for page_num in applications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{%  if page_num %}
    {% if applications.page == page_num %}
    <a class="btn btn-light mb-4 text-black " href="{{ url_for('main.home',page=page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-dark mb-4 text-white " href="{{ url_for('main.home',page=page_num) }}">{{ page_num }}</a>
        {%  endif %}
    {% else %}
    ...
{%  endif %}
{% endfor %}
{% for applications in applications.items %}


<br>
   <article class="media content-section">
          <div class="media-body">
            <h2><a  >{{ applications.name}}</a></h2>
                    <!--<p class="article-content ">Install :{{ applications.install_command}}</p>-->
              <p class="article-content visually-hidden" style="font-weight: 500">Install :{{ applications.install_command}}</p>
              <img src="{{ url_for('static',filename='app_pics/'+ applications.image_file) }}">

              <p class="Article-content" style="font-weight: 300">{{applications.description}}</p>
              <p class="badge" style="background-color: #00aa95; font-weight: 300">Genre: {{applications.genre}}</p>
              <p class="badge" style="background-color: #00aa95; font-weight: 300">Version: {{applications.version}}</p>
              <div class="row-cols-2">
              <form  method="post" action="/">
                <input type="hidden" value="{{applications.install_command}}" name="mycheckbox" checked>
                <input href="{{url_for('applications.checkbox')}}" type="submit" value="Download">
                <!-- <a href="{{ url_for('applications.download_app') }}" class="btn btn-primary">Install</a> -->
              </form>
             </div>
        </article>
       
{% endfor %}
{% for page_num in applications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {%  if page_num %}
        {% if applications.page == page_num %}
        <a class="btn btn-light mb-4 text-black " href="{{ url_for('main.home',page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-dark mb-4 text-white " href="{{ url_for('main.home',page=page_num) }}">{{ page_num }}</a>
            {%  endif %}
        {% else %}
        ...
    {%  endif %}
{% endfor %}
{% endblock %}
{{ applications.Application_Name}}
Install :{{ applications.Install_command}}