<!DOCTYPE html>
<html lang="en">
<head>
    <!--- Basic Page Needs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TeaWeb: Install Multiple Apps</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='app_pics/'+ 'leaf.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <!--- Basic Page Needs /  end-->
    <!--- pentru pagina principala lista de aplicatii -->
    {% if Aplication_Name %}
        <title>Application Name :{{ Aplication_Name }}</title>
    {% else %}
        <title>Aplications</title>
    {% endif %}
    <!--- pentru pagina principala lista de aplicatii / end-->
</head>
<body>

 <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <img src="{{ url_for('static',filename='app_pics/'+ "leaf.png") }}" >
          <br>
            
          <a class="navbar-brand mr-4" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul>
                <li><a  href="{{ url_for('main.home') }}">Home</a></li>
                <li><a  href="{{ url_for('main.about') }}">About</a></li>
                <li> <a  href="{{ url_for('applications.suggestedapps') }}">Suggested Apps</a></li>
                <li> <a  href="{{ url_for('applications.bundle') }}">Bundle</a></li>
                {%  if current_user.is_authenticated %}
                    <li > <a  class="active"  href="{{ url_for('users.account') }}">Account</a></li>
                <li > <a  class="active"  href="{{ url_for('users.logout') }}">Logout</a></li>
                {% else %}
                <li ><a class="active" href="{{ url_for('users.login') }}">Login</a></li>
                <li ><a class="active" href="{{ url_for('users.register') }}">Register</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
        <br>
          <div class="content-section position-fixed">
            <h3>Tea pack</h3>
              <ul class="list-group">
                <li class="list-group-item ">WORK IN PROGRESS : Presets</li>
                  {%  if current_user.is_authenticated %}
                  {% else %}
                  <li class="list-group-item disabled" aria-disabled="true"> <a class=" nav-item nav-link" >Suggest an app (Need to login)</a> </li>
                    {% endif %}
              <br>
              <li class="active list-group-item list-group-item-light"> <a class=" nav-item nav-link" href="{{ url_for('applications.new_suggestion') }}">Suggest an app</a> </li>
              </ul>
          <br>
          </div>
        </div>
      </div>
    </main>

    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-jos">

  <section class="footer">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #ffffff; border-radius: 7px;" >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center text-black">
          <span class="me-3">Olteanu Eduard, Momoi Alexandru, Gheorghe Luca, Teleki Tibor</span>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); border-bottom-right-radius: 7px; border-bottom-left-radius: 7px;">
      Proiect Inginerie Software, Universitatea Transilvania Brașov
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
  
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


</body>
</html>