{% extends "layout.html" %}
{% block content %}

<br>
{% for page_num in applications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {%  if page_num %}
        {% if applications.page == page_num %}
        <a class="btn btn-light mb-4 text-black " href="{{ url_for('applications.suggestedapps',page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-dark mb-4 text-white " href="{{ url_for('applications.suggestedapps',page=page_num) }}">{{ page_num }}</a>
            {%  endif %}
        {% else %}
        ...
    {%  endif %}
{% endfor %}
    
{% for applications in applications.items %}


  <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('applications.suggestion', id_suggestion = applications.id_suggestion) }}" >{{applications.name}}</a> <small class="text-muted">{{ applications.date_sugested.strftime('%Y-%m-%d') }}</small></h2>
            <small class="text-muted">Suggested by: {{applications.user.username  }}  </small>
              <p class="article-content visually-hidden">Install :{{ applications.install_command}}</p>
              <img src="{{ url_for('static',filename='app_pics/'+ applications.image_file) }}">
              <p class="Article-content">{{applications.description}}</p>
              <p class="badge text-bg-secondary" style="background-color: #00aa95; font-weight: 300">Genre: {{applications.genre}}</p>
             </div>
        </article>


{% endfor %}
{% for page_num in applications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {%  if page_num %}
        {% if applications.page == page_num %}
        <a class="btn btn-light mb-4 text-black " href="{{ url_for('applications.suggestedapps',page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-dark mb-4 text-white " href="{{ url_for('applications.suggestedapps',page=page_num) }}">{{ page_num }}</a>
            {%  endif %}
        {% else %}
        ...
    {%  endif %}
{% endfor %}

{% endblock %}
