{% extends "layout.html" %}
{% block content %}

<div class="text-center">
    <div class="mainText">

    <h1 class="display-3 text-white">Welcome to TEA App</h1>
    <br />
    <h2 class="mainSubTitle text-white"> Tired of reinstalling apps after resetting Windows?</h2>
    <br />
    <h2 class="mainSubTitle text-white">Just select the apps you want on your Desktop and the rest will be our job!</h2>
    <br />
    <p><h2 class="mainSubTitle text-white">Easy steps!</h2>

           <h3 class="mainSubTitle text-white">1.Pick the apps you want</h3>
           <h3 class="mainSubTitle text-white">2.Download and run your custom installer/updater</h3>

    </p>

    </div>

</div>

{% endblock %}