{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid" >
    <h1 class="display-3 text-white">Suggestions</h1>
    </div>
        <article class="media content-section">
            <div class="media-body">
                {% if suggestion.id_user == current_user.id_user %}
                    <div class="detail">
                        <a class="btn btn-warning btn-sm m-1" href="{{ url_for('update_sugestion', id_suggestion = suggestion.id_suggestion) }}">Update</a>
                        <button class="btn btn-danger btn-sm m-1 " data-toggle="modal" data-target="#deleteModal"> Delete</button>
                    </div>
                {% endif %}

            <div class="row-cols-2">
                <h2 class="article-title">{{suggestion.name}}</h2>
            </div>
            <img src="{{ url_for('static',filename='app_pics/'+ suggestion.image_file) }}">
            <p class="badge bg-secondary">Genre : {{suggestion.genre}}</p>
            <br>
                <small class="text-muted">Suggested by : {{suggestion.user.username +' on ' +suggestion.date_sugested.strftime('%Y-%m-%d') }}  </small>
                <br>
                <br>
                <h5 class="Article-content">{{suggestion.description}}</h5>
            <br>

                 <h5>Install: <span class="badge bg-secondary"> {{ suggestion.install_command}} </span> </h5>
          </div>
  </article>

    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Suggestion?</h5>

          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_suggestion', id_suggestion = suggestion.id_suggestion) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
