{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid" >
    <h1 class="display-5">Suggestions</h1>
    </div>
  <article class="media content-section">
          <div class="media-body">
            <h2 class="article-title">{{suggestion.name}} <small class="text-muted">{{ suggestion.date_sugested.strftime('%Y-%m-%d') }}</small></h2>
              {% if suggestion.user.username == current_user %}
                  <div>
                    <h1> Hello</h1>
                  </div>
              {% endif %}
            <small class="text-muted">Suggested by : {{suggestion.user.username  }}  </small>
              <br>
<!--            <p class="article-content ">Install :{{ suggestion.install_command}}</p>-->
              <h5>Install: <span class="badge bg-secondary"> {{ suggestion.install_command}} </span> </h5>
              <h5 class="Article-content">{{suggestion.description}}</h5>
              <h4 class="badge text-bg-secondary">Genre : {{suggestion.genre}}</h4>

<!--              <p class="Article-content">Image_file:{{suggestion.image_file}}</p>-->
              <img src="{{ image_file }}">

<!--              <input type="checkbox" name="checkmark" value="checkmark" style="float:right;">-->

          </div>
  </article>
{% endblock %}
