{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid" >
    <h1 class="display-5">Suggestions</h1>
    </div>
  <article class="media content-section">
          <div class="media-body">
            <h2 class="article-title">{{suggestion.name}} <small class="text-muted">{{ suggestion.date_sugested.strftime('%Y-%m-%d') }}</small></h2>

            <small class="text-muted">Suggested by : {{suggestion.user.username  }}  </small>
               {% if suggestion.id_user == current_user.id_user %}
                  <div>
                    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_sugestion', id_suggestion = suggestion.id_suggestion) }}">Update</a>
                    <button class="btn btn-danger btn-sm m-1 " data-toggle="modal" data-target="#deleteModal"> Delete</button>
                  </div>
              {% endif %}
              <br>
<!--            <p class="article-content ">Install :{{ suggestion.install_command}}</p>-->
              <h5>Install: <span class="badge bg-secondary"> {{ suggestion.install_command}} </span> </h5>
              <h5 class="Article-content">{{suggestion.description}}</h5>
              <h4 class="badge text-bg-secondary">Genre : {{suggestion.genre}}</h4>

<!--              <p class="Article-content">Image_file:{{suggestion.image_file}}</p>-->
              <img src="{{ image_file }}">

<!--              <input type="checkbox" name="checkmark" value="checkmark" style="float:right;">-->

          </div>
  </article>

    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Suggestion?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_suggestion', id_suggestion = suggestion.id_suggestion) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
