{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
    <h1 class="display-5">Suggestions</h1>
    </div>
{% for sugg_aplicatie in sugg_aplicatie %}


  <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('suggestion', id_suggestion = sugg_aplicatie.id_suggestion) }}" >{{sugg_aplicatie.name}}</a> <small class="text-muted">{{ sugg_aplicatie.date_sugested.strftime('%Y-%m-%d') }}</small></h2>
            <small class="text-muted">Suggested by : {{sugg_aplicatie.user.username  }}  </small>
<!--            <p class="article-content ">Install :{{ sugg_aplicatie.install_command}}</p>-->
              <p class="article-content visually-hidden">Install :{{ sugg_aplicatie.install_command}}</p>

              <p class="Article-content">{{sugg_aplicatie.description}}</p>
              <p class="badge text-bg-secondary">Genre : {{sugg_aplicatie.genre}}</p>

<!--              <p class="Article-content">Image_file:{{sugg_aplicatie.image_file}}</p>-->
              <img src="{{ image_file }}">

<!--              <input type="checkbox" name="checkmark" value="checkmark" style="float:right;">-->

             </div>
        </article>


{% endfor %}
{% endblock %}
