{% extends "layout.html" %}
{% block content %}
{% for aplicatie in aplicatie %}


   <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">{{ aplicatie.Application_Name}}</a></h2>
<!--            <p class="article-content ">Install :{{ aplicatie.Install_command}}</p>-->
              <p class="article-content visually-hidden">Install :{{ aplicatie.Install_command}}</p>
          </div>
        </article>
{% endfor %}
{% endblock %}


{{ aplicatie.Application_Name}}
Install :{{ aplicatie.Install_command}}